{% extends 'sidemenu.html' %}
{% load static %}


{% block content %}


<!-- CULMINATION COMPONENT -->
<section class="p-5 first h-auto">

    <div class="row vert_span hort_span flex-sm-column flex-md-row py-5">

        
        

        <div class="col-sm-12 col-md-4 h-auto py-3 d-flex flex-column justify-content-evenly align-items-center p-3">

            <h1 class="fs-1 fst-italic text-white">Contributions on the Development of AskMyrtle</h1>
            <h3 class="fs-3 fst-italic text-white-50 col-sm-12 col-md-6">Culmination page</h3>

        </div>

        <div id="carousel" class="carousel slide rounded col-sm-12 col-md-8 bg-1-75 position-relative" data-bs-ride="true">
            

            <div class="carousel-inner position-relative">

              <div class="carousel-item active c-item">
                <img src="{% static 'img/culm/Culmination1.png' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-2 py-3">Inputs</h5>
                </div>
              </div>

              <div class="carousel-item c-item">
                <img src="{% static 'img/culm/Culmination2.png' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-2 py-3">Repetition Structures</h5>
                </div>
              </div>
              
              <div class="carousel-item c-item">
                <img src="{% static 'img/culm/Culmination3.png' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-2 py-3">Conditionals</h5>
                </div>
              </div>

              <div class="carousel-item c-item">
                <img src="{% static 'img/culm/Culmination4.png' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-2 py-3">Functions</h5>
                </div>
              </div>

              <div class="carousel-item c-item">
                <img src="{% static 'img/culm/Culmination5.png' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-2 py-3">Lists</h5>
                </div>
              </div>

              <div class="carousel-item c-item">
                <img src="{% static 'img/culm/Culmination6.png' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-2 py-3">Tuples</h5>
                </div>
              </div>

              <div class="carousel-item c-item">
                <img src="{% static 'img/culm/Culmination7.png' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-2 py-3">String Methods</h5>
                </div>
              </div>

              <div class="carousel-item c-item">
                <img src="{% static 'img/culm/Culmination8.png' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-2 py-3">Files & Exceptions</h5>
                </div>
              </div>

              <div class="carousel-item c-item">
                <img src="{% static 'img/culm/Culmination9.png' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-2 py-3">Objected Orientated</h5>
                </div>
              </div>

              <div class="carousel-item c-item">
                <img src="{% static 'img/culm/Culmination10.png' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="display-2 py-3">GUI</h5>
                </div>
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </div>

</section>

<!-- PASSION PROJECTS -->
<section class="h-auto p-3 ">

    <h1 class="text-white text-center h-20 w-100 fs-1 d-flex align-items-center justify-content-center">Passion Projects</h1>


    <div class="h-auto row p-1 flex-md-row flex-sm-column">

        <!-- FEED FROM BACKEND WITH THIS, ALONG WITH SUPPLYING MODAL CONTROL -->
        <div class="rh-90 col-sm-12 col-md-6 d-flex flex-column align-items-center justify-content-evenly flex-wrap gap-3 p-3">

            <!-- WORDLE IN PYTHON -->
            <div class="menu w-100 border rounded-3 sh-10  overflow-hidden">

                <!-- ALWAYS VISIBLE -->
                <div class="row sh-10 w-100 p-0">
        
                    <div class="col-2 align-items-center justify-content-center d-flex">
                        <div class="marker circle border border-2 border-white bg-3 text-white d-flex align-items-center justify-content-center p-0">
                        
                                <svg xmlns="http://www.w3.org/2000/svg" height="3.5rem" viewBox="0 -960 960 960" width="3.5rem" fill="#e8eaed"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            
                        </div>
                    </div>
                    <div class="text d-flex align-items-center justify-content-end text col-10 px-3">
                        <h1 class="text-white title w-100 h-100 d-flex align-items-center justify-content-end fs-1">Wordle in Python</h1>
                    </div>
                </div>
        
        
                <!-- THE INFORMATION DROP DOWN AREA -->
        
                <!-- TOGGLE ACTIVE WITH JS ON CLICK -->
                <div class="row content p-4">
        
                    <div class="items col-6 outline p-3 h-100">
                        
                        <img class="min-h-40 img-fluid rounded-3" src="{% static 'img\projects\wordle.png' %}" alt="Wordle">

                    </div>
        
                    <div class="items col-6 p-3 h-100">
                        <ul class="list-group-flush h-100 d-flex flex-column justify-content-evenly align-items-start text-white">
        
                            <li class="fs-5">This was coded during my sophomore year</li>
                            <li class="fs-5">First Full stack project</li>
                            <li class="fs-5">First place winner of HCS Passion Project Tech Fair</li>
                            <li class="fs-5">Utilizes a txt file from shmookey</li>
                            <li class="fs-5">All Python, with tkinter for the GUI</li>
                        </ul>
                    </div>
                </div>
            
            </div>
        <!-- GEOGUESSING -->
            <div class="px-3 menu w-100 border rounded-3 sh-10  overflow-hidden">

                <!-- ALWAYS VISIBLE -->
                <div class="row sh-10 w-100 p-0">
        
                    <div class="col-2 align-items-center justify-content-center d-flex">
                        <div class="marker circle border border-2 border-white bg-3 text-white d-flex align-items-center justify-content-center p-0">
                        
                                <svg xmlns="http://www.w3.org/2000/svg" height="3.5rem" viewBox="0 -960 960 960" width="3.5rem" fill="#e8eaed"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            
                        </div>
                    </div>
                    <div class="text d-flex align-items-center justify-content-end text col-10 px-3">
                        <h1 class="text-white title w-100 h-100 d-flex align-items-center justify-content-end fs-1">Geoguessing</h1>
                    </div>
                </div>
        
        
                <!-- THE INFORMATION DROP DOWN AREA -->
<!-- GEOGUESSING CONTENT -->
                <!-- TOGGLE ACTIVE WITH JS ON CLICK -->
                <div class="row content h-auto px-4 py-1">
        
                    <div class="items col-12 outline px-4 py-0 mh-75 d-flex flex-column align-items-center justify-content-evenly">
                        <video class="h-100 w-100 rounded-3 px-3 z-3" controls preload>
                            <source class="z-3" src="{% static 'img\projects\geoguessing.mp4' %}" type="video/mp4">
                        </video>

                    </div>
        
                    <div class="items col-12 p-3 h-25 w-100">
                        <ul class=" row d-flex align-items-center justify-content-evenly w-100 px-5 list-group-flush h-100 text-white">
        
                            <li class="text-center fs-6 col-sm-12 col-md-5 py-1 px-md-1 px-sm-0">This was coded during my junior year</li>
                            <li class="text-center fs-6 col-sm-12 col-md-5 py-1 px-md-1 px-sm-0">First place winner of HCS Passion Project Tech Fair</li>
                            <li class="text-center fs-6 col-sm-12 col-md-5 py-1 px-md-1 px-sm-0">Python backend with Flask</li>
                            <li class="text-center fs-6 col-sm-12 col-md-5 px-md-1 py-1 px-sm-0">HTML, Javascript, and Bootstrap CSS for front end</li>
                        </ul>
                    </div>
                </div>
            
            
            
            
            </div>    
        </div>

        <div class="rh-90 col-sm-12 col-md-6 d-flex flex-column align-items-center justify-content-evenly flex-wrap gap-3 p-3">

            <!-- SERVITAIN -->
            <div class="menu w-100 border rounded-3 sh-10  overflow-hidden">

                <!-- ALWAYS VISIBLE -->
                <div class="row sh-10 w-100 p-0">
        
                    <div class="col-2 align-items-center justify-content-center d-flex">
                        <div class="marker circle border border-2 border-white bg-3 text-white d-flex align-items-center justify-content-center p-0">
                        
                                <svg xmlns="http://www.w3.org/2000/svg" height="3.5rem" viewBox="0 -960 960 960" width="3.5rem" fill="#e8eaed"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            
                        </div>
                    </div>
                    <div class="text d-flex align-items-center justify-content-end text col-10 px-3">
                        <h1 class="text-white title w-100 h-100 d-flex align-items-center justify-content-end fs-1">Servitain</h1>
                    </div>
                </div>
        
        
                <!-- THE INFORMATION DROP DOWN AREA -->
        
                <!-- TOGGLE ACTIVE WITH JS ON CLICK -->

                
                <div class="row content p-4">
        
                    <div class="items col-12 outline px-4 py-0 mh-75 d-flex flex-column align-items-center justify-content-evenly">
                        <video class="h-100 w-100 rounded-3 px-3 z-3" controls preload>
                            <source src="{% static 'img\projects\servitain.mp4' %}" type="video/mp4">
                        </video>

                    </div>
        
                    <div class="items col-12 p-3 h-25 w-100">
                        <ul class=" row d-flex align-items-center justify-content-evenly w-100 px-5 list-group-flush h-100 text-white">
        
                            <li class="text-center fs-6 col-sm-12 col-md-5 py-1 px-md-1 px-sm-0">This was coded during my senior year</li>
                            <li class="text-center fs-6 col-sm-12 col-md-5 py-1 px-md-1 px-sm-0">Current TSA Project for Software Dev.</li>
                            <li class="text-center fs-6 col-sm-12 col-md-5 py-1 px-md-1 px-sm-0">Python backend with Django Rest Framework</li>
                            <li class="text-center fs-6 col-sm-12 col-md-5 px-md-1 py-1 px-sm-0">React.js front end with Bootstrap styling</li>
                        </ul>
                    </div>                                                                                                                                vv                                   
                </div>
            
            </div>
        <!-- RASPBERRY PI -->
            <div class="px-3 menu w-100 border rounded-3 sh-10  overflow-hidden">

                <!-- ALWAYS VISIBLE -->
                <div class="row sh-10 w-100 p-0">
        
                    <div class="col-2 align-items-center justify-content-center d-flex">
                        <div class="marker circle border border-2 border-white bg-3 text-white d-flex align-items-center justify-content-center p-0">
                        
                                <svg xmlns="http://www.w3.org/2000/svg" height="3.5rem" viewBox="0 -960 960 960" width="3.5rem" fill="#e8eaed"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                            
                        </div>
                    </div>
                    <div class="text d-flex align-items-center justify-content-end text col-10 px-3">
                        <h1 class="text-white title w-100 h-100 d-flex align-items-center justify-content-end fs-1">Portfolio</h1>
                    </div>
                </div>
        
        
                <!-- THE INFORMATION DROP DOWN AREA -->
<!-- GEOGUESSING CONTENT -->
                <!-- TOGGLE ACTIVE WITH JS ON CLICK -->
                <div class="row content h-auto px-4 py-1">
        
                    <div class="items col-6 outline p-3 h-100">
                        
                        <img class="min-h-40 img-fluid rounded-3" src="{% static 'img\projects\accordians.png' %}" alt="Wordle">

                    </div>
        
                    <div class="items col-6 p-3 h-100">
                        <ul class="min-h-40 list-group-flush d-flex flex-column justify-content-evenly align-items-start text-white">
        
                            <li class="fs-5">This screenshot is the javasript for these accordians</li>
                            <li class="fs-5">Portfolio website programmed by hand</li>
                            <li class="fs-5">HTML, CSS, and Javacript for the visuals</li>
                            <li class="fs-5">Python Django for creating templates and routing</li>
                        </ul>
                    </div>
                </div>
            
            
            
            
            </div>    
        </div>
    


    </div>
    
    
  
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


{% endblock %}


