{% extends 'sidemenu.html' %}
{% load static %}

{% block content %}
<!-- GET PROPER CSS SO THE CLUTTER IS SPREAD OUT -->

<!-- <link rel="stylesheet" href="static/css/bootstrap.min.css"> -->

<!-- THIS AREA WILL HAVE THE GALLARY AND MY INTRODUCTION TO THE WEBSITE -->
<section class="p-4 h-auto first container-fluid">

    <div class="row vert_span hort_span flex-md-row flex-sm-column-reverse flex-xs-column-reverse">
        
            

        <div id="gallary" class="carousel slide col-sm-12 col-md-8 vert_span rounded bg-1-50" data-bs-ride="carousel">

            <div class="carousel-indicators">
              <button type="button" data-bs-target="#gallary" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#gallary" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#gallary" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#gallary" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#gallary" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#gallary" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#gallary" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>

            <div class="carousel-inner">

              <div class="carousel-item c-item pt-4 active">
                <img src="{% static 'img/gallary/heroimage1.jpg' %}" class="mx-auto d-block h-100" alt="...">
              </div>

              <div class="carousel-item c-item pt-4">
                <img src="{% static 'img/gallary/heroimage2.jpg' %}" class="mx-auto d-block h-100" alt="...">
              </div>

              <div class="carousel-item c-item pt-4">
                <img src="{% static 'img/gallary/heroimage3.jpg' %}" class="mx-auto d-block h-100" alt="...">
              </div>

              <div class="carousel-item c-item pt-4">
                <img src="{% static 'img/gallary/heroimage4.jpg' %}" class="mx-auto d-block h-100" alt="...">
              </div>

              <div class="carousel-item c-item pt-4">
                <img src="{% static 'img/gallary/heroimage5.jpg' %}" class="mx-auto d-block h-100" alt="...">
              </div>

              <div class="carousel-item c-item pt-4">
                <img src="{% static 'img/gallary/heroimage6.jpg' %}" class="mx-auto d-block h-100" alt="...">
              </div>

              <div class="carousel-item c-item pt-4">
                <img src="{% static 'img/gallary/heroimage7.jpg' %}" class="mx-auto d-block h-100" alt="...">
              </div>

            </div>
          </div>

        <!-- TITLE AREA FOR ME  -->
        <div class="h-auto col-sm-12 col-md-4 d-flex flex-column justify-content-evenly align-items-center p-5 text-white">

            <h1 class="fs-1 fst-italic">Contributions on the Development of AskMyrtle</h1>
            <h3 class="fs-4 fst-italic text-white-50">Salutations! My name is Brandon Bernal-Andrade, and I am the current Computer
                Science Represenative for the Academy for the Arts, Sciences, and Technology. I enjoy putting myself out there and 
                expanding the horizons of my knowledge base. 
            </h3>
<!-- <br> On my spare time, I like to listen to Chase Atlantic, Radiohead,
                and I am radiant on val (just trust me).  -->
        </div>
    </div>
    
</section>

<!-- SMART GOALS LAYED OUT AS CARDS (DOESN'T REALLY REQUIRE INTERACTIVITY) -->

<!-- USE FOR LOOP WITH THE DJANGO BACKEND TO SIMPLIFY AND STORE STUFF A FILE FOR EASY MANAGEMENT -->
<section class="my-0 h-auto container-fluid">

    <h1 class="text-center py-3 text-white rh-10 w-100 fs-1 d-flex align-items-center justify-content-center">Future Goals Set</h1>

    <div class="row d-flex flex-md-row flex-sm-column align-items-center justify-content-evenly h-auto w-100 py-5 gap-5">

        
        
        
        <div class="col-sm-7 col-md-3 h-auto">
            <div class="d-flex flex-column align-items-center justify-content-center goal rh-60 hort_span rounded-3 bg-black bg-opacity-25 border-opacity-50 p-3">

                <h2 class= "fs-3 text-white text-center">Start-Up</h2>
                <hr class="border-3 rounded-5 bd-3">
                <p class="flex-fill text-white px-3">
                    I want to have my own start-up company through the knowledge I have and will learn from college. This will take experience
                    in software, hardware, and business. I want to acheive this between 5 to 11 years. In order to achieve this goal,
                    I am going to understand how to manage my business, network to create a team for this endeavor, and learn how to 
                    bridge the gap between software and hardware.
                </p>
                <hr class="border-2  rounded-5 bd-3">
                <hr class="border-2  w-75 mx-auto rounded-5 my-0 bd-3">
            </div>
        </div>

        <div class="col-sm-7 col-md-3 h-auto">
            <div class="d-flex flex-column align-items-center justify-content-start goal rh-60 hort_span rounded-3 bg-black bg-opacity-25 border-opacity-50 p-3">

                <h2 class= "fs-3 text-white text-center">Work Related</h2>
                <hr class="border-3 rounded-5 bd-3">
                <p class="flex-fill text-white px-3">My goal is to experience at least 3 different production areas with programming.
                    I want use these opportunities in order to gather experience, learn coding conventions, and network with others.
                    I want these production experiences obtained before college ends, and I plan on acheiving these through learning data
                    structures and algorithms (DSA), apply for internships, and improving upon my code. 
                </p>
                <hr class="border-2  rounded-5 bd-3">
                <hr class="border-2  w-75 mx-auto rounded-5 my-0 bd-3">
            </div>
        </div>
        
        
        <div class="col-sm-7 col-md-3 h-auto">
            <div class="d-flex flex-column align-items-center justify-content-center goal rh-60 hort_span rounded-3 bg-black bg-opacity-25 border-opacity-50 p-3">

                <h2 class= "fs-3 text-white text-center">Traveling Away</h2>
                <hr class="border-3 rounded-5 bd-3">
                <p class="flex-fill text-white px-3">
                    I want to travel outside the continent between the time span of 3-13 years away. I want to learn about other cultures
                    and get to experience famous landmarks I have learned about. In addition to this, I will be able to bond with my
                    family and friends. In order to prepare for this type of trip, I will have to plan wehre to go, get enough money to go,
                    and get companions to go on the trip with me. 
                </p>
                <hr class="border-2  rounded-5 bd-3">
                <hr class="border-2  w-75 mx-auto rounded-5 my-0 bd-3">
            </div>
        </div>
        
        
        
        
        
    
       

    </div>
    
    

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}